{% extends 'base.html' %}

{% block head %}
<title>
IRTT MEMORIES - HOME
</title>
{% endblock %}

{% block body %}
<blockquote>  <!-class="blockquote-reverse"->
<h1>IRTT Memories!!!</h1>
<h4>Institute of Road and Transport Technology(சாலை மற்றும் போக்குவரத்து பொறியியல் கல்லூரி) is an engineering institution in Chithode, near Erode, Tamil Nadu, India. It is run by the Transport Department of the government of Tamil Nadu and listed under category 1 colleges by the Directorate of Technical Education, Tamil Nadu.The Institute Of Road and Transport Technology was established in 1984 by M. G. Ramachandran, the then Chief Minister of Tamil Nadu as an automobile research-oriented engineering college. It is run by the transport corporation of the government of Tamil Nadu and is affiliated with Anna University
It is located on a 350-acre (1.4 km2) campus.Something that cannot be forgettable is memories.Everyone has their own memories in college life.Lets make something special with your  memories in IRTT.Please kindly share your memories in IRTT.</h4>
<footer>IRTT Student</footer>
</blockquote>
<hr>
<pre>
<h4>
 About Website :-

 Front End   : Html , Css
 Back End    : Python
 Framework   : <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask ( Python ) - BackEnd</a> , Bootstrap ( Css ) - FrontEnd
 Database    : <a href="https://www.mongodb.com/">MongoDB ( NOSQL - Unstructured )</a>
 Hosting     : <a href="https://www.pythonanywhere.com/">Python Anywhere</a>
 Description : Giritharan(Mech Department 2020 Batch) - English
</h4>
</pre>
<br>
<hr>
<div class="text-center">
<button type="button" class="btn btn-success" onclick="location.href='/post';">Post Now</button>   <button type="button" class="btn btn-success" onclick="location.href='/read';">Read Post</button>
 <br>
 <hr>
</div>
{% endblock %}